body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background: #ccc;
}

#container {
  margin: 16px auto;
}

#board {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 8px;
}

#board li {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background: #00aaff;
  border-radius: 4px;
  box-shadow: 0 4px 0 #0088cc;
  margin: 5px;
  cursor: pointer;
}

#board li.pressed {
  background: #ccc;
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 4px;
}

#timer {
  text-align: right;
  font-size: 20px;
  margin-bottom: 8px;
}

#btn {
  text-align: center;
  background: #f44336;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 0 #d1483e;
  cursor: pointer;
  user-select: none;
}

#btn:active {
  margin-top: 12px;
  box-shadow: none;
}
