body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #bdc3c7;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background: #ecf0f1;
  padding: 20px;
  border: 4px solid #fff;
  border-radius: 12px;
  margin: 16px auto;
}

.panel img {
  width: 90px;
  height: 110px;
  margin-bottom: 1em;
  background: #fff;
  object-fit: contain;
  padding: 5px;
  box-sizing: border-box;
}

.stop {
  width: 90px;
  height: 32px;
  background: #ef454a;
  cursor: pointer;
  box-shadow: 0 4px 0 #D1483e;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  user-select: none;
}

#spin {
  width: 280px;
  height: 36px;
  background: #3498db;
  cursor: pointer;
  box-shadow: 0 4px 0 #2880b9;
  border-radius: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFF;
  user-select: none;
  margin: 0 auto;
}

.unmatched {
  opacity: .5;
}

.inactive {
  opacity: .5;
}